<div class="container">
  <div class="col-md-offset-3 col-md-6">
    <h1 class="text-center">Sign up</h1>
    <br>
    <div class="text-center">
      <a href="<%= user_linkedin_omniauth_authorize_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i> Sign up with Linkedin</a>
    </div>
    <br>
    <hr>
    <h3 class="text-center"> Or Sign Up With Your Email</h3>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-envelope-o fa-15" aria-hidden="true"></i>
            </span>
            <%= f.input :email, autofocus: true, label: false, placeholder: "Email", input_html: { class:"form-control form-with-icon" }%>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-15" aria-hidden="true"></i>
            </span>
          <%= f.input :password, label: false, placeholder: "Password", input_html: { class:"form-control form-with-icon" } %>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-15" aria-hidden="true"></i>
            </span>
          <%= f.input :password_confirmation, label: false, placeholder: "Password Confirmation", input_html: { class:"form-with-icon form-control" }%>
        </div>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Create account!", class:"btn btn-success btn-lg center-block" %>
      </div>
    <% end %>
    <br>
    <div class="well well-sm text-center">
      <h4>Note: Signup system is currently disabled.</h4>
      <h4>To test the app, you can use the following details:</h4>
      <br>

      <h5>username: test@example.com</h5>
      <h5>password: test1234</h5>
    </div>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
