<h1 id="resume">Resume Snippets Toolbox</h1>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class = "panel-group snippets-accordion" id = "accordion">
      <%= render 'snippets/blocks/accomplishments' %>
      <%= render 'snippets/blocks/details' %>
      <%= render 'snippets/blocks/educations' %>
      <%= render 'snippets/blocks/experiences' %>
      <%= render 'snippets/blocks/interests' %>
      <%= render 'snippets/blocks/languages' %>
      <%= render 'snippets/blocks/others' %>
      <%= render 'snippets/blocks/references' %>
      <%= render 'snippets/blocks/skills' %>
      <%= render 'snippets/blocks/summary' %>
    </div>
  </div>
</div>


<!-- Edit Snippet Modal -->
<div class="modal fade" id="edit-snippet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Snippet</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- New Snippet Modal -->
<div class="modal fade" id="new-snippet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Snippet</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
