<h1>Your Snippets</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Properties</th>
      <th>Actions</th>
    </tr>
</thead>
  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.name %></td>
        <td><%= snippet.type %></td>
        <td><% snippet.properties.to_hash.each do |k, v| %>
            <%= "#{k.to_s.titleize}: #{v}" %>
            <br>
            <% end %>
        </td>
        <td><%= link_to 'Show', sti_snippet_path(snippet.type, snippet) %>
            <%= link_to 'Edit', sti_snippet_path(snippet.type, snippet, :edit) %>
            <%= link_to 'Destroy', sti_snippet_path(snippet.type, snippet), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "See all #{snippet.type.pluralize}", sti_snippet_path(snippet.type) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless current_page? sti_snippet_path %>
  <%= link_to 'Back to Snippet Toolbox', sti_snippet_path %>
<% end %>






<div class = "panel-group" id = "accordion">
   <div class = "panel panel-default">

      <div class = "panel-heading">
         <h4 class = "panel-title">
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
               Languages
            </a>
         </h4>
      </div>

      <div id = "collapseOne" class = "panel-collapse collapse in">
         <div class="panel-body">
           <% @languages.each do |language| %>
            <div class="well well-sm" draggable="true">
              <h3> <%= language.name %> </h3>
               <ul>
                 <li><%= language.properties.language %></li>
                 <li><%= language.properties.level %></li>
               </ul>
           </div>
           <% end %>
         </div>
      </div>

   </div>

   <div class = "panel panel-default">
      <div class = "panel-heading">
         <h4 class = "panel-title">
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
               Accomplishments
            </a>
         </h4>
      </div>

      <div id = "collapseTwo" class = "panel-collapse collapse">
        <div class="panel-body">
          <% @accomplishments.each do |accomplishment| %>
           <div class="well well-sm" draggable="true">
             <h3> <%= accomplishment.name %> </h3>
              <ul>
                <li><%= accomplishment.properties.accomplishment %></li>
                <li><%= accomplishment.properties.description %></li>
              </ul>
          </div>
          <% end %>
        </div>
      </div>

   </div>

   <div class = "panel panel-default">
      <div class = "panel-heading">
         <h4 class = "panel-title">
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
               Details
            </a>
         </h4>
      </div>

      <div id = "collapseThree" class = "panel-collapse collapse">
        <div class="panel-body">
          <% @details.each do |detail| %>
           <div class="well well-sm" draggable="true">
             <h3> <%= detail.name %> </h3>
              <ul>
                <li><%= detail.properties.first_name %></li>
                <li><%= detail.properties.last_name %></li>
                <li><%= detail.properties.address %></li>
                <li><%= detail.properties.address2 %></li>
                <li><%= detail.properties.zipcode %></li>
                <li><%= detail.properties.phone %></li>
                <li><%= detail.properties.email %></li>
                <li><%= detail.properties.linkedin %></li>
                <li><%= detail.properties.github %></li>
                <li><%= detail.properties.other %></li>
              </ul>
          </div>
          <% end %>
        </div>
      </div>

   </div>
</div>
