<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
        Accomplishment Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseOne" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Accomplishment', new_accomplishment_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @accomplishments.each do |accomplishment| %>
        <div class="well well-sm" draggable="true">
          <h3> <%= accomplishment.name %> </h3>
          <ul>
            <% accomplishment.properties.to_hash.each do |prop, value| %>
              <% unless value == "" || value == nil %>
                <li><span class="snippet-title"><%= prop.capitalize %></span>: <%= value %></li>
              <% end %>
            <% end %>
          </ul>
          <div class="snippet-controls">
            <%= link_to 'Edit', sti_snippet_path(accomplishment.type, accomplishment.id, :edit), class: "btn btn-xs btn-warning" %>
            <%= link_to 'Destroy', sti_snippet_path(accomplishment.type, accomplishment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
