<div class = "panel panel-default">
   <div class = "panel-heading">
      <h4 class = "panel-title">
         <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
            Detail Snippets
         </a>
      </h4>
   </div>

   <div id = "collapseTwo" class = "panel-collapse collapse">
     <div class="panel-body">
       <% @details.each do |detail| %>
        <div class="well well-sm" draggable="true">
          <h3> <%= detail.name %> </h3>
           <ul>
             <li><%= detail.properties.first_name %></li>
             <li><%= detail.properties.last_name %></li>
             <li><%= detail.properties.address %></li>
             <li><%= detail.properties.address2 %></li>
             <li><%= detail.properties.zipcode %></li>
             <li><%= detail.properties.phone %></li>
             <li><%= detail.properties.email %></li>
             <li><%= detail.properties.linkedin %></li>
             <li><%= detail.properties.github %></li>
             <li><%= detail.properties.other %></li>
           </ul>
           <%= link_to 'Edit', sti_snippet_path(detail.type, detail.id, :edit), class: "btn btn-xs btn-primary" %>
           <%= link_to 'Destroy', sti_snippet_path(detail.type, detail.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %>
       </div>
       <% end %>
     </div>
   </div>

</div>
