<div class = "panel panel-default">
   <div class = "panel-heading">
      <h4 class = "panel-title">
         <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
            Education Snippets
         </a>
      </h4>
   </div>

   <div id = "collapseThree" class = "panel-collapse collapse">
     <div class="panel-body">
       <% @educations.each do |education| %>
        <div class="well well-sm" draggable="true">
          <h3> <%= education.name %> </h3>
           <ul>
             <li><%= education.properties.title %></li>
             <li><%= education.properties.institution %></li>
             <li><%= education.properties.location %></li>
             <li><%= education.properties.start_date %></li>
             <li><%= education.properties.end_date %></li>
             <li><%= education.properties.details %></li>
           </ul>
           <%= link_to 'Edit', sti_snippet_path(education.type, education.id, :edit), class: "btn btn-xs btn-primary" %>
           <%= link_to 'Destroy', sti_snippet_path(education.type, education.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %>
       </div>
       <% end %>
     </div>
   </div>

</div>
