<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseSix">
        Language Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseSix" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Language', new_language_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @languages.each do |language| %>
        <div class="well well-sm" draggable="true" id="<%= dom_id(language) %>">
          <h3> <%= language.name %> </h3>
          <ul>
            <% language.properties.to_hash.each do |prop, value| %>
              <% unless value == "" || value == nil %>
                <li><span class="snippet-title"><%= prop.capitalize %></span>: <%= value %></li>
              <% end %>
            <% end %>
          </ul>
          <div class="snippet-controls">
            <%= link_to 'Edit', sti_snippet_path(language.type, language.id, :edit), class: "btn btn-xs btn-warning" %>
            <%= link_to 'Delete', sti_snippet_path(language.type, language.id),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' },
                                  class: "btn btn-xs btn-danger",
                                  remote: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
