<div class = "panel panel-default">
   <div class = "panel-heading">
      <h4 class = "panel-title">
         <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseNine">
            Skill Snippets
         </a>
      </h4>
   </div>

   <div id = "collapseNine" class = "panel-collapse collapse">
     <div class="panel-body">
       <% @skills.each do |skill| %>
        <div class="well well-sm" draggable="true">
          <h3> <%= skill.name %> </h3>
           <ul>
             <li><%= skill.properties.skill %></li>
             <li><%= skill.properties.description %></li>
             <li><%= skill.properties.level %></li>
           </ul>
           <%= link_to 'Edit', sti_snippet_path(skill.type, skill.id, :edit), class: "btn btn-xs btn-primary" %>
           <%= link_to 'Destroy', sti_snippet_path(skill.type, skill.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %>
       </div>
       <% end %>
     </div>
   </div>

</div>
