<div class="container">
  <div class="col-md-offset-3 col-md-6">
    <h1 class="text-center">Log in</h1>
    <br>
    <div class="text-center">
      <a href="<%= user_linkedin_omniauth_authorize_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i> Log in with Linkedin</a>
    </div>
    <hr>

    <h3 class="text-center">Or Log In With Your Email</h3>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user fa-15" aria-hidden="true"></i>
            </span>
            <%= f.input :email, label: false, placeholder: "Ex. user@mail.com", input_html: { class:"form-control form-with-icon" }%>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-15" aria-hidden="true"></i>
            </span>
          <%= f.input :password, label: false, placeholder: "Password", input_html: { class:"form-control form-with-icon" }%>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log In", class: "btn-success btn center-block" %>
      </div>
    <% end %>
      <br>
    <div class="well well-sm text-center">
      <h4>Note: Signup system is currently disabled.</h4>
      <h4>To test the app, you can use the following details:</h4>
      <br>

      <h5>username: test@example.com</h5>
      <h5>password: test1234</h5>
    </div>

    <br>
    <br>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
