<div class="well well-sm" draggable="true" id="<%= dom_id(endorsement) %>">
  <h3> <%= endorsement.name %> </h3>
  <ul>
    <% endorsement.properties.to_hash.each do |prop, value| %>
      <% unless value == "" || value == nil %>
        <li><span class="snippet-title"><%= prop.capitalize %></span>: <%= value %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="snippet-controls">
    <%= link_to 'Edit', sti_snippet_path(endorsement.type, endorsement.id, :edit),
                        remote: true,
                        data: {toggle: "modal", target: "#edit-snippet"},
                        class: "btn btn-xs btn-warning" %>
    <%= link_to 'Delete', sti_snippet_path(endorsement.type, endorsement.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: "btn btn-xs btn-danger",
                          remote: true %>
  </div>
</div>
