<div class="well well-sm well-snippet" id="<%= dom_id(skill) %>">
  <div class="snippet-name"> <%= skill.name %> </div>
  <ul>
    <% skill.properties.to_hash.each do |prop, value| %>
      <% unless value == "" || value == nil %>
        <li><span class="snippet-title"><%= prop.capitalize %></span>: <%= value %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="snippet-controls">
    <%= link_to 'Edit', sti_snippet_path(skill.type, skill.id, :edit),
                        remote: true,
                        data: {toggle: "modal", target: "#edit-snippet"},
                        class: "btn btn-xs btn-warning" %>
    <%= link_to 'Delete', sti_snippet_path(skill.type, skill.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: "btn btn-xs btn-danger",
                          remote: true %>
  </div>
</div>
