<div class="col-md-6">
<h1 id="resume">Resume Builder</h1>
<div id="resumebox"></div>
</div>

<div class="col-md-offset-1 col-md-5">
<h2> Resume Toolbox</h2>
  <div class="panel-group" id="accordion">
    <%= render 'snippets/blocks/accomplishments' %>
    <%= render 'snippets/blocks/details' %>
    <%= render 'snippets/blocks/educations' %>
    <%= render 'snippets/blocks/experiences' %>
    <%= render 'snippets/blocks/interests' %>
    <%= render 'snippets/blocks/languages' %>
    <%= render 'snippets/blocks/others' %>
    <%= render 'snippets/blocks/references' %>
    <%= render 'snippets/blocks/skills' %>
    <%= render 'snippets/blocks/summary' %>
  </div>
</div>
